body {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #454f59;
    background-color: #f0f0f0;
}

#page-content {
    padding: 0 0 20px;
}
#inner-content {
    margin: 0 20px 20px 20px;
}
/* Small devices, Tablets (>767px) */
@media screen and (min-width: 768px) {
  #page-content {
          padding: 0 0 1px;
      }
}

    /* Typography */
    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
        font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 300;
    }

    h1 small, h2 small, h3 small, h4 small, h5 small, h6 small,
    .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small,
    h1 .small, h2 .small, h3 .small, h4 .small, h5 .small, h6 .small,
    .h1 .small, .h2 .small, .h3 .small, .h4 .small, .h5 .small, .h6 .small {
        font-weight: 300;
        color: #879599;
    }

    h1, h2, h3 {
        margin-bottom: 15px;
    }

    .text-primary,
    .text-primary:hover,
    a,
    a:hover,
    a:focus,
    a.text-primary,
    a.text-primary:hover,
    a.text-primary:focus {
        color: #0f96ce;
    }

    .text-danger,
    .text-danger:hover,
    a.text-danger,
    a.text-danger:hover,
    a.text-danger:focus {
        color: #e45245;
    }

    .text-warning,
    .text-warning:hover,
    a.text-warning,
    a.text-warning:hover,
    a.text-warning:focus {
        color: #ffa300;
    }

    .text-success,
    .text-success:hover,
    a.text-success,
    a.text-success:hover,
    a.text-success:focus {
        color: #2cb099;
    }

    .text-info,
    .text-info:hover,
    a.text-info,
    a.text-info:hover,
    a.text-info:focus {
        color: #5cafde;
    }

    .text-muted,
    .text-muted:hover,
    a.text-muted,
    a.text-muted:hover,
    a.text-muted:focus {
        color: #999999;
    }

    .text-light,
    .text-light:hover,
    a.text-light,
    a.text-light:hover,
    a.text-light:focus {
        color: #ffffff;
    }

    .text-dark,
    .text-dark:hover,
    a.text-dark,
    a.text-dark:hover,
    a.text-dark:focus {
        color: #454f59;
    }

    .text-black,
    .text-black:hover,
    a.text-black,
    a.text-black:hover,
    a.text-black:focus {
        color: #444e5a;
    }

    .text-light-op,
    .text-light-op:hover,
    a.text-light-op,
    a.text-light-op:hover,
    a.text-light-op:focus {
        color: rgba(255, 255, 255, .8);
    }

    .text-dark-op,
    .text-dark-op:hover,
    a.text-dark-op,
    a.text-dark-op:hover,
    a.text-dark-op:focus {
        color: rgba(0, 0, 0, .4);
    }
.pagination {
    margin: 0;
}
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    background-color: #0f96ce;
    border-color: #0f96ce;
}

.btn:active:focus {
  outline: 0;
}

.action-icon {
  font-size: 30px;
}
.action-disabled {
  color: #cccdd1;
}

/* Breadcrumps */
.breadcrumb {
    background-color: transparent;
    padding-left:0px;
    padding-right: 0px;
    margin-bottom: 0;
    font-size: 12px;
}
.breadcrumb>.active {
    color: #444e5a;
}
.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #444e5a;
    content: ">\00a0";
}
.breadcrumb a {
  text-decoration: underline;
  color: #464e5b;
  font-weight: normal;
}
.breadcrumb>.active {
    font-weight: bold;
}


/* Content Header */
.content-header h1,
.content-header h2 {
    margin: 5px 0;
    line-height: 28px;
}

.content-header h1 {
    font-weight: 500;
    font-size: 24px;
}

.content-header h2 {
    font-size: 18px;
}
.header-section {
    padding: 15px 0;
}
.content-header,
    .content-header-media .header-section,
    .block,
    .block.full,
    .modal-body {
        padding-left: 20px;
        padding-right: 20px;
    }

    .modal-backdrop {
   background-color: red;
}

.modal-title{
  text-align: center;
  font-weight: bold;
}
.modal_body_bg{
  background-color: #f0f0f0;
}
.modal-footer{
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #f0f0f0;
}
.block {
    margin: 0 0 10px;
    padding: 20px 15px 20px;
    border: 1px solid #acafb4;
    background-color: #ffffff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    -webkit-box-shadow: 0 2px 0 rgba(218, 224, 232, .5);
    box-shadow: 0 2px 0 rgba(218, 224, 232, .5);
}

.block-title {
    margin: -20px -15px 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: auto;
}

.block-title .note {
    padding: 0px 15px 15px 15px;
}

.block-title h1,
.block-title h2,
.block-title h3,
.block-title h4,
.block-title h5,
.block-title h6 {
    display: inline-block;
    font-size: 20px;
    margin: 0;
    padding: 15px 15px 9px;
    font-weight: 600;
}

.block-title h1 small,
.block-title h2 small,
.block-title h3 small,
.block-title h4 small,
.block-title h5 small,
.block-title h6 small {
    font-size: 14px;
    font-weight: 600;
}

.block-title .nav-tabs {
    padding: 0;
    margin: 0;
    border-bottom: none;
}

.block-title .nav-tabs > li > a {
    border: none;
    min-height: 40px;
    line-height: 40px;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    border-radius: 0;
}

.block-title .nav-tabs > li > a:hover {
    background-color: #ffffff;
}

.block-title .nav-tabs > li.active > a,
.block-title .nav-tabs > li.active > a:hover,
.block-title .nav-tabs > li.active > a:focus {
    border: none;
    background-color: #dae0e8;
}

.block-options {
    padding: 2px 3px;
    margin: 6px;
    height: 38px;
}

.block-options .label {
    display: inline-block;
    padding: 6px;
    vertical-align: middle;
    font-size: 14px;
    margin-top: 4px;
}

.block-options .dropdown-menu {
    margin-top: 3px;
}

.block-options .btn {
    padding-right: 8px;
    padding-left: 8px;
    min-width: 34px;
    text-align: center;
    color: #FFFFFF;
    -webkit-transition: opacity .15s ease-out;
    transition: opacity .15s ease-out;
}

.block-options .btn:hover,
.block-options .btn:active,
.block-options .btn.active,
.block-options .btn:focus {
    opacity: 1;
}

.block-options .btn i {
    font-size: 14px;
}

.btn {
  text-transform: uppercase;
  font-size: 12px;
}

.btn-default {
    background-color: #fcfcfe;
    border-color: #dbdcde;
    color: #c9c9c9 !important;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .btn-default.dropdown-toggle {
    background-color: #ededee;
    border-color: #e2e2e2;
}

.btn-default.disabled,
.btn-default.disabled:hover,
.btn-default.disabled:focus,
.btn-default.disabled:active,
.btn-default.disabled.active,
.btn-default[disabled]:hover,
.btn-default[disabled]:focus,
.btn-default[disabled]:active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default:hover,
fieldset[disabled] .btn-default:focus,
fieldset[disabled] .btn-default:active,
fieldset[disabled] .btn-default.active {
    background-color: #eeeeee;
    border-color: #eeeeee;
}

.btn-primary {
    background-color: #0f96ce;
    border-color: #0f96ce;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .btn-primary.dropdown-toggle {
    background-color: #25accb;
    border-color: #25accb;
    color: #ffffff !important;
}

.btn-primary.disabled,
.btn-primary.disabled:hover,
.btn-primary.disabled:focus,
.btn-primary.disabled:active,
.btn-primary.disabled.active,
.btn-primary[disabled]:hover,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary:hover,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary.active {
    background-color: #00BEE3;
    border-color: #00BEE3;
}

.btn-danger {
    background-color: #de815c;
    border-color: #de815c;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .btn-danger.dropdown-toggle {
    background-color: #c43902;
    border-color: #c43902;
    color: #ffffff !important;
}

.btn-danger.disabled,
.btn-danger.disabled:hover,
.btn-danger.disabled:focus,
.btn-danger.disabled:active,
.btn-danger.disabled.active,
.btn-danger[disabled]:hover,
.btn-danger[disabled]:focus,
.btn-danger[disabled]:active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger:hover,
fieldset[disabled] .btn-danger:focus,
fieldset[disabled] .btn-danger:active,
fieldset[disabled] .btn-danger.active {
    background-color: #de815c;
    border-color: #de815c;
}

.btn-warning {
    background-color: #deb25c;
    border-color: #deb25c;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open .btn-warning.dropdown-toggle {
    background-color: #de9502;
    border-color: #de9502;
    color: #ffffff !important;
}

.btn-warning.disabled,
.btn-warning.disabled:hover,
.btn-warning.disabled:focus,
.btn-warning.disabled:active,
.btn-warning.disabled.active,
.btn-warning[disabled]:hover,
.btn-warning[disabled]:focus,
.btn-warning[disabled]:active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning:hover,
fieldset[disabled] .btn-warning:focus,
fieldset[disabled] .btn-warning:active,
fieldset[disabled] .btn-warning.active {
    background-color: #c48402;
    border-color: #c48402;
}

.btn-success {
    background-color: #afde5c;
    border-color: #afde5c;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .btn-success.dropdown-toggle {
    background-color: #7dc402;
    border-color: #7dc402;
    color: #ffffff !important;
}

.btn-success.disabled,
.btn-success.disabled:hover,
.btn-success.disabled:focus,
.btn-success.disabled:active,
.btn-success.disabled.active,
.btn-success[disabled]:hover,
.btn-success[disabled]:focus,
.btn-success[disabled]:active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success:hover,
fieldset[disabled] .btn-success:focus,
fieldset[disabled] .btn-success:active,
fieldset[disabled] .btn-success.active {
    background-color: #afde5c;
    border-color: #afde5c;
}

.btn-info {
    background-color: #5cafde;
    border-color: #5cafde;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .btn-info.dropdown-toggle {
    background-color: #027dc4;
    border-color: #027dc4;
    color: #ffffff !important;
}

.btn-info.disabled,
.btn-info.disabled:hover,
.btn-info.disabled:focus,
.btn-info.disabled:active,
.btn-info.disabled.active,
.btn-info[disabled]:hover,
.btn-info[disabled]:focus,
.btn-info[disabled]:active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info:hover,
fieldset[disabled] .btn-info:focus,
fieldset[disabled] .btn-info:active,
fieldset[disabled] .btn-info.active {
    background-color: #5cafde;
    border-color: #5cafde;
}

.btn-dark {
    background-color: #464e5b;
    border-color: #464e5b;
    color: #ffffff !important;
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active,
.btn-dark.active,
.open .btn-dark.dropdown-toggle {
    background-color: #555d6b;
    border-color: #555d6b;
    color: #ffffff !important;
}

.btn-plain {
    border: none;
    background-color: transparent;
    color: #666666;
}

.btn-plain:hover,
.btn-plain:focus,
.btn-pplain:active,
.btn-plain.active,
.open .plain.dropdown-toggle {
    color: #464e5b !important;
}

.btn-invert {
    background-color: #7FDEF1;
    border-color: #7FDEF1;
    color: #027dc4;
}

.btn-invert:hover,
.btn-invert:focus,
.btn-invert:active,
.btn-invert.active,
.open .btn-invert.dropdown-toggle {
    background-color: #ffffff;
    border-color: #ffffff;
}

.btn-invert.disabled,
.btn-invert.disabled:hover,
.btn-invert.disabled:focus,
.btn-invert.disabled:active,
.btn-invert.disabled.active,
.btn-invert[disabled]:hover,
.btn-invert[disabled]:focus,
.btn-invert[disabled]:active,
.btn-invert[disabled].active,
fieldset[disabled] .btn-invert:hover,
fieldset[disabled] .btn-invert:focus,
fieldset[disabled] .btn-invert:active,
fieldset[disabled] .btn-invert.active {
    background-color: #cccccc;
    border-color: #cccccc;
}

.btn-link,
.btn-link:hover,
.btn-link:focus {
    color: #00BEE3;
}
.form-group-sm .form-control {
    height: 34px;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 3px;
}

.grid-view {
    overflow-x: scroll;
}
.push_left_20{
  margin-left: 20px;
}
.push_left_10{
  margin-left: 10px;
}
.push-bit {
    margin-bottom: 10px !important;
}
.push-bottom-20 {
    margin-bottom: 20px;
}
.push-bottom-20-sm {
  margin-bottom: 0px;
}
@media (min-width: 768px) {
  .push-bottom-20-sm {
    margin-bottom: 20px;
  }
}
.push-top-20 {
    margin-top: 20px;
}
.pad-top-20{
  padding-top: 20px;
}
.themed-color-default {
    color: #00BEE3 !important;
}
.table thead > tr > th,
.table tbody > tr > th,
.table tfoot > tr > th,
.table thead > tr > td,
.table tbody > tr > td,
.table tfoot > tr > td,
.table tbody + tbody,
.table-bordered,
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
    border-color: #FFFFFF;
}
td a.textlink{
  color: #0f96ce;
  text-decoration: underline;
}
td div.action-column{
    width: 70px;
    display: inline-block;
}
td div.action-column a {
    padding-left: 6px;
}
.filters {
    background-color: #d9edf7;
}

.react-bs-table {
  padding-bottom: 20px;
  border-bottom: 1px solid #dbdce0;
}
.react-bs-container-header {
    background-color: #0f96ce;
    color: #FFFFFF;
    font-size: 16px;
}
.toolbar-title{
  font-size: 20px;
  font-weight: 600;
}
.full_width{
  width: 100% !important;
}
